{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>happy birthday  subham sir</h1>
    <div class="img">
    {% comment %} {%block content%} {% endcomment %}
    {% for chai in chais %}
    <img src="{{chai.image.url}}" alt="">
    <a href="{%url 'contact' chai.id%}"><button>{{chai.type}} - {{chai.id}}</button></a>
    <h2>{{chai.name}}</h2>
    
    {% endfor %}
    {% comment %} {% endblock %} {% endcomment %}
    </div>
</body>
</html>