h1{
    color:red
}
body{
    background-color: aqua;
}

.img{
    display: flex;
    flex-direction: row;
    margin: 30px;
    width:250px;
    height:100px;
    

    
}

button{   height:100px;
    width:150px;
    color:blue;
    border:3px solid burlywood;
    border-radius: 20px;
}